@(message: String)

@scripts = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
<script src="@routes.Assets.at("javascripts/register.js")" type="text/javascript"></script>
<script type="text/javascript">
	fill();
</script>
} 


@main("Profile", scripts, nav="profile") {

<div id="register-form">
	<form class="form-horizontal" onsubmit="register(); return false;">
		<div class="form-group">
			<label for="inputNickname3" class="col-sm-2 control-label">Nickname</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="username"
					placeholder="Nickname">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="email"
					placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputOldPassword3" class="col-sm-2 control-label">Old
				Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password"
					placeholder="Old Password">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">New
				Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="newpassword1"
					placeholder="New Password">
			</div>
		</div>
		<div class="form-group">
			<label for="inputConfirmNewPassword4" class="col-sm-2 control-label">Confirm</label>
			<div class="col-sm-10">
				<input type="password" class="form-control"
					id="newpassword2" placeholder="Confirm New Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Save</button>
			</div>
		</div>
	</form>
</div>
}
