@(message: String)


@scripts = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/register.css")">
    <script src="@routes.Assets.at("javascripts/register.js")" type="text/javascript"></script>
}


@main("Register", scripts, nav="home"){

		<div id="register-form">
			<form id="registerForm" class="form-horizontal" action="@routes.Application.index()" method="POST" onsubmit="register();">
				<div class="form-group">
					<label for="inputNickname3" class="col-sm-2 control-label">Nickname</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"  name="username" id="username"  placeholder="Nickname">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword4" class="col-sm-2 control-label">Confirm Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" name="password2" id="password2" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" onsubmit="register();">Register</button>
					</div>
				</div>
			</form>
		</div>
}